/* =====================================================================================
   Style for header.
   =====================================================================================*/

header {
  background-color: #081c24;
  position: relative;
  z-index: 1;

  .container {
    display: flex;
    align-items: center;
  }
  a {
    font-weight: 600;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  li {
    list-style: none;
    &:hover .ss_sub_menu {
      display: block;
    }
  }
}

header.ss_header {

  .results_search {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dedede;
    background-color: #fff;

    .results_popup {
      .ss_nodata {
        color: #000;
        display: flex;
        justify-content: center;
        h2 {
          text-transform: uppercase;
          font-size: 1.8em;
          font-weight: 700;
          color: #000;
          padding: 20px 0;
        }
      }

      .trending_search {
          h2 {
            font-size: 1.2em;
            font-weight: 700;
            margin: 20px 0;
            padding: 0;
            text-align: left;
          }
      }

      .ss_list_scroller {
        ul {
          li {
            min-height: auto;
            line-height: normal;
            font-size: 1em;

            .slim_search {
              display: flex;
              padding: 3px 0 4px 0;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);

              i {
                font-size: 1em;
                color: #333;
              }
              p {
                margin: 0;
                margin-left: 8px;
                padding: 0;
                line-height: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            &:hover {
              background-color: #f4f4f4;
              cursor: pointer;
            }
          }
        }
        .ss_list_result {
          display: inline-block;
          width: 100%;
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .ss_navbar {
    height: 111px;

    ul.ss_menu {
      text-transform: uppercase;
      display: flex;
      li {
        text-align: right;
        padding: 10px 0;
      }
      ul.ss_sub_menu {
        justify-content: flex-start;
        height: auto;
        position: absolute;
        font-size: 0.9em;
        transition: opacity 1s ease;
        li {
          display: inline-block;
          a {
            color: #868e91;
            text-transform: none;
            font-weight: 500;
          }
        }
      }
    }

    ul {
      align-items: center;
      font-size: 1em;
      padding-left: 0;
      height: 72px;
      box-sizing: border-box;
      li {
        margin-right: 30px;
        img {
          width: 81px;
          height: 72px;
        }
      }
    }
  }

  section.search {
    width: 100%;
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid #dedede;

    form {
      margin-top: 0;
      width: 100%;

      input {
        height: 43px;
        font-size: 1em;
        padding-left: 24px;
      }


    }

    input {
      border-radius: 0;
      padding: 0 30px;
      box-sizing: border-box;
    }

    input[type="text"] {
      width: 100% !important;
      border: none !important;
      outline: none;
      font-family: Arial, sans-serif;
      font-style: italic;
      font-weight: lighter;
      font-size: 100%;
      line-height: 1.2em;
      color: #acacac;
      box-sizing: border-box;
      text-indent: 0;
    }
  }

  .search_bar {
    color: #000;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;

    .search {
      .sub_media {
        position: relative;
        top: 0;
        left: 0;
        form {
          position: relative;
          svg {
            position: absolute;
            font-size: 1em;
            color: #acacac;
            top: 13px;
          }
        }
      }
    }
  }
}
