/* =====================================================================================
   Global style.
   =====================================================================================*/
@font-face {
  font-family: "Source Sans Pro";
  src: url('./app/fonts/SourceSansPro-Regular.ttf'),
  url('./app/fonts/SourceSansPro-Black.ttf'),
  url('./app/fonts/SourceSansPro-BlackItalic.ttf'),
  url('./app/fonts/SourceSansPro-Bold.ttf'),
  url('./app/fonts/SourceSansPro-BoldItalic.ttf'),
  url('./app/fonts/SourceSansPro-ExtraLight.ttf'),
  url('./app/fonts/SourceSansPro-ExtraLightItalic.ttf'),
  url('./app/fonts/SourceSansPro-Italic.ttf'),
  url('./app/fonts/SourceSansPro-Light.ttf'),
  url('./app/fonts/SourceSansPro-LightItalic.ttf'),
  url('./app/fonts/SourceSansPro-SemiBold.ttf'),
  url('./app/fonts/SourceSansPro-SemiBoldItalic.ttf');
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  min-height: 100%;
  height: auto;
  font-weight: normal;
  background-color: #f4f4f4;
  color: #000;
  font-size: 1em;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 4px 0;
  font-weight: 600;
}


/* =====================================================================================
   Style for utilities.
   =====================================================================================*/
.ss_card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ss_poster {
  display: flex;
  align-items: center;
}

.nav-active {
  text-underline-position: under;
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tv {
  color: #2dd4f7;
}

.ss_sub_menu {
  display: none;
}