/* =====================================================================================
   Style for header.
   =====================================================================================*/
header {
  background-color: #081c24; }
  header .container {
    display: flex;
    align-items: center; }
  header a {
    font-weight: 600;
    color: #fff; }
    header a:hover {
      color: #fff; }
  header li {
    list-style: none; }
    header li:hover .ss_sub_menu {
      display: block; }

header.ss_header .results_search {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dedede;
  background-color: #fff;
  display: none; }
  header.ss_header .results_search .results_popup .ss_nodata {
    color: #000;
    display: flex;
    justify-content: center; }
    header.ss_header .results_search .results_popup .ss_nodata h2 {
      text-transform: uppercase;
      font-size: 1.8em;
      font-weight: 700;
      color: #000;
      padding-bottom: 20px; }
  header.ss_header .results_search .results_popup .ss_list_scroller ul li {
    min-height: auto;
    line-height: normal;
    font-size: 1em; }
    header.ss_header .results_search .results_popup .ss_list_scroller ul li .slim_search {
      display: flex;
      padding: 3px 0 4px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      header.ss_header .results_search .results_popup .ss_list_scroller ul li .slim_search i {
        font-size: 1em;
        color: #333; }
      header.ss_header .results_search .results_popup .ss_list_scroller ul li .slim_search p {
        margin: 0;
        margin-left: 8px;
        padding: 0;
        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    header.ss_header .results_search .results_popup .ss_list_scroller ul li:hover {
      background-color: #f4f4f4;
      cursor: pointer; }
  header.ss_header .results_search .results_popup .ss_list_scroller .ss_list_result {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0; }
header.ss_header .ss_navbar {
  height: 111px; }
  header.ss_header .ss_navbar ul.ss_menu {
    text-transform: uppercase;
    display: flex; }
    header.ss_header .ss_navbar ul.ss_menu li {
      text-align: right;
      padding: 10px 0; }
    header.ss_header .ss_navbar ul.ss_menu ul.ss_sub_menu {
      justify-content: flex-start;
      height: auto;
      position: absolute;
      font-size: 0.9em;
      transition: opacity 1s ease; }
      header.ss_header .ss_navbar ul.ss_menu ul.ss_sub_menu li {
        display: inline-block; }
        header.ss_header .ss_navbar ul.ss_menu ul.ss_sub_menu li a {
          color: #868e91;
          text-transform: none;
          font-weight: 500; }
  header.ss_header .ss_navbar ul {
    align-items: center;
    font-size: 1em;
    padding-left: 0;
    height: 72px;
    box-sizing: border-box; }
    header.ss_header .ss_navbar ul li {
      margin-right: 30px; }
      header.ss_header .ss_navbar ul li img {
        width: 81px;
        height: 72px; }
header.ss_header section.search {
  width: 100%;
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid #dedede; }
  header.ss_header section.search form {
    margin-top: 0;
    width: 100%; }
    header.ss_header section.search form input {
      height: 43px;
      font-size: 1em;
      padding-left: 24px; }
  header.ss_header section.search input {
    border-radius: 0;
    padding: 0 30px;
    box-sizing: border-box; }
  header.ss_header section.search input[type="text"] {
    width: 100% !important;
    border: none !important;
    outline: none;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: light;
    font-size: 100%;
    line-height: 1.2em;
    color: #acacac;
    box-sizing: border-box;
    text-indent: 0; }
header.ss_header .search_bar {
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em; }
  header.ss_header .search_bar .search .sub_media {
    position: relative;
    top: 0;
    left: 0; }
    header.ss_header .search_bar .search .sub_media form {
      position: relative; }
      header.ss_header .search_bar .search .sub_media form svg {
        position: absolute;
        font-size: 1em;
        color: #acacac;
        top: 13px; }

/*# sourceMappingURL=Header.614cfc89.css.map */
